.app__newblog {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 1rem;
  margin-right: 1rem;
  padding: 1rem;
  background-color: var(--secondary-color);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 20px;
    height: 20px;
    color: var(--color-white);
  }

  @media screen and (min-width: 400px) {
  }

  @media screen and (min-width: 800px) {
  }
}
